.s1{
    background-color: rgb(15, 10, 38);
    color: white;
    width: 40%;
    height: 1000px;
}
.s2{
    width: 180px;
    height: 200px;
    margin-left: 120px;
   
}
.b1{
    font-family: 'Open Sans', sans-serif;
}
.c1{
    color: rgb(14, 80, 248);
}
   